<div class="footer">
  <div class="container">


  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <p class="titre-footer">CE QUE JE FAIS</p>
      <p>Pousser la porte de sa folie et entrer dans sa lumière. A l’issu d’une formation à l’école Duperré et l’école Boulle , il décide de vivre de sa passion et aura la chance d’être l’élève du grand Maître Gérard Di Maccio qui le forme aux techniques des peintures de la renaissance .

</p>
    </div>
     <div class="col-xs-12 col-sm-6">
      <p class="titre-footer">CONTACT ET INFOS PRATIQUES</p>
      <div class="contact-infos">
        <p><i class="fa fa-phone-square"></i> Tél : </p>
        <p><i class="fa fa-envelope"></i> Email : emmanuel.pertuisot@icloud.com</p>
        <p><i class="fa fa-terminal"></i> Web : www.emmanuel-pertuisot.com</p>
      </div>
      <hr>
      <p class="titre-footer">RÉSEAUX SOCIAUX</p>
      <%= link_to "https://www.facebook.com/emmanuel.pertuisot.9" do %>
      <i class="fa fa-facebook-square"></i>
      <% end %>
    </div>
     </div>
  </div>
</div>
