<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
 <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="banner">
      <div class="banner-content">
     <div class="banner-home">
           <h1 class="nom">EMMANUEL PERTUISOT</h1>
          <h4 class="fonction" style="margin-top: -20px;">Artiste peintre</h4>
          <p class="nom2" style="font-weight: bold;">Emmanuel Pertuisot,</p>
        <p class="presentation">Bercer depuis toujours par le rêve et l’imaginaire. Il s’évade de son quotidien dans la trames de ses toiles , dans lequel il peint un monde qui se balance entre rêve et réalité.</p>
        <p class="call-to-action"><%= link_to "ARTWORKS", "/index.html", anchor: "contact", class: "btn btn-primary btn-lg" %></p>
    </div>
      </div>
</div>
    </div>
    <div class="item full-screen">
      <%= image_tag "peinture30.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1></h1>
        </div>
        <p></p>
      </div>
      </div>
    </div>
       <div class="item full-screen">
      <%= image_tag "peinture33.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1></h1>
        </div>
        <p></p>
      </div>
      </div>
    </div>
    <div class="item full-screen">
      <%= image_tag "peinture14.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1></h1>
        </div>
        <p></p>
      </div>
      </div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
