.footer{
  height: 400px;
  background-color: #303030;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.titre-footer{
  color: white;
}

.fa{
font-size: 14px;
}

.fa-facebook-square{
  font-size: 27px;
  color: #3F5A93;
}

.contact-infos{
  line-height: 0.9;
}
