.call-to-action a{
    padding: 16px 34px;
    font-size: 17px;
    border-radius: 3px;
    background: transparent;
}

.padded{
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-top{
   padding-top: 6em;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

hr{
  border-top: 1px solid $light-yellow;
}

.new_contact_form{
  background-color: #ebb74f;
}

.btn-primary{
  background-color: black;
  border-color: black;
}

.expendable .panel{
  width: 100%;
}

.expendable .panel-group{
  margin-bottom: 0;
}

.expendable img{
  width: 30%;
  margin-right: 15px;
}

.panel-title{
  position: relative;
  font-size: 17px;
}

.panel-title li
{
  display: inline-block;
}

.panel-title .supprimer{
  position: absolute;
  right: 10px;
  top: 0;
}
.panel-title .modifier{
  position: absolute;
  right: 100px;
  top: 0;
}

iframe{
width: 560px;
height: 315px;
display: flex;
align-items: center;
justify-content: center;
}


