.call-to-action a{
    padding: 16px 34px;
    font-size: 17px;
    border-radius: 3px;
    background: transparent;
}

.padded{

  padding-bottom: 5em;
}

.padded-top{
   padding-top: 6em;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

hr{
  border-top: 2px solid $light-yellow;
}
