<div class="title-painting">
  <%=  link_to "Retour à la gallerie", galleries_path, class: "btn btn-default btn-xs" %>
  <%= @painting.title%>
</div>

<div class="container">
  <div class="picture-painting padded">
  <%= cl_image_tag @painting.picture%>
</div>
</div>

<hr>
