<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-offset-3">
        <p>Vous avez recus un message de <%= @contact_form.name %></p>
        <p><%= @contact_form.content %></p>
      </div>
    </div>
  </div>
</div>

